@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --sans-serif: "Inter", system-ui, sans-serif;
}

body {
  font-family: var(--sans-serif);
}

h1, h2, h3, h4 {
  font-family: var(--sans-serif);
  font-weight: 600;
}
